.ReactModal__Content--after-open {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.ReactModal__Content--after-open section form {
    display: flex;
    flex-flow: column;
}

.modal-close-button {
    position: absolute;
    right: 0;
    top: 0;
}