.ReactModal__Content--after-open {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.ReactModal__Content--after-open section form {
    display: flex;
    flex-flow: column;
}

.modal-close-button {
    position: absolute;
    right: 0;
    top: 0;
}

.modal-close-button {
    cursor: pointer;
    font-size: 2em;
    color: orangered;
    padding-right: 0.5em;
    padding-top: 0.5em;
}