.clickable-icon {
    cursor: pointer;
}

.add-record-icon {
    font-size: 5em;
    color: #408900;
    cursor: pointer;
}

.delete-record-icon {
    font-size: 2em;
    color: orangered;
}

.delete-record-icon :hover {
    opacity: 0.8;
}

.add-record-icon :hover {
    color: #408900c4;
}

.stock-overview-table-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-left: solid black 2px;
    border-right: solid black 2px;
}

thead th {
    background-color: rgba(211, 211, 211, 0.6);
    border-bottom: solid black 2px;
}

tbody tr:hover {
    background-color: lightgrey;
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: lightgrey;
    z-index: -1;
}



.success-message {
    margin-bottom: 2em;
    color: #408900;
    font-weight: bold;
}