.ReactModal__Content--after-open {
    display: flex;
    box-sizing: border-box;
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
    margin: 0 auto;
}

.ReactModal__Content--after-open section form {
    display: flex;
    flex-flow: column;
}

.button-group {
    display: flex;
    justify-content: center;
}