.App {
    text-align: center;
}

.App-header {
    background-color: darkgray;
    min-height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

main {
    max-width: 75%;
    margin: 0 auto;
    background-color: #ebf6ff;
    min-height: auto;
    padding-bottom: 7em;
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 1em;
    background-color: rgba(201, 237, 246, 0.8);
    border-radius: 5px;
    gap: 2em;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    font-size: 1.8em;
    font-weight: bold;
    color: grey;
    border-bottom: rgba(201, 237, 246, 0.8) 4px solid;
    box-sizing: border-box;
}

nav a.active {
    color: black;
    border-bottom: rgb(25, 25, 25) 4px solid;
}

nav a:hover {
    color: black;
    transition-duration: 0.1s;
    border-bottom: rgb(25, 25, 25) 4px solid;
}

.floating-navbar {
    display: flex;
    width: 100%;
    margin: auto;
}

.logout-container {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.logout-container p {
    font-weight: bold;
}