.ReactModal__Content--after-open {
    display: flex;
    box-sizing: border-box;
    max-width: fit-content;
    max-height: fit-content;
    position: relative;
    margin: 0 auto;
    flex-flow: column wrap;
}

span {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}
