.ReactModal__Content--after-open {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    position: relative;
    margin: 0 auto;

}

span {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
}
