.overview-table-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
}

.action-cell {
    display: flex;
    justify-content: space-evenly;
    border-left: none;
}

.consumption-cell {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-weight: bold;
}

.consumption-cell p {
    display: inline;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
    width: 75%;
}

table {
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-left: solid black 2px;
    border-right: solid black 2px;
}

thead th {
    background-color: rgba(211, 211, 211, 0.6);
    border-bottom: solid black 2px;
}

tr {
    border-top: solid black 1px;
}

tbody tr:hover {
    background-color: lightgrey;
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: lightgrey;
    z-index: -1;
}

.success-message {
    margin: 1.5em 0;
    color: #408900;
    font-weight: bold;
    font-size: 1.2em;
}

.consumption-cell .add-record-icon {
    font-size: 2em;
}

td.cell-alert {
    background-color: lightcoral;
}


